@model List<Incident>

@{
    ViewData["Title"] = "Incident Manager";
}

<h1>Incident Manager</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Product</th>
            <th>Date Opened</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var incident in Model)
        {
            <tr>
                <td>@incident.Title</td>
                <td>@incident.CustomerID</td>
                <td>@incident.ProductID</td>
                <td>@incident.DateOpened.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@incident.IncidentID"
                       class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete"
                       asp-route-id="@incident.IncidentID"
                       class="btn btn-primary">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>
<a asp-action="Add" class="btn btn-primary mb-3">Add Incident</a>
